.management-bulletin {
  background: #1D40A5 url('../../assets/briefing/bg-icon.png');
  background-size: cover;
  padding-top: 29px;
  width: 100%;
  overflow-x: hidden;
}
.management-bulletin .banner {
  display: flex;
  margin-bottom: 51px;
}
.management-bulletin .banner .logo {
  width: 397px;
  height: 289px;
  position: relative;
  background: url('../../assets/briefing/logo.png');
  background-size: 100% 100%;
}
.management-bulletin .banner .logo .date {
  height: 29px;
  font-size: 24px;
  font-family: DIN-Regular, DIN;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 25px;
  position: absolute;
  left: 57px;
  bottom: 32px;
}
.management-bulletin .banner .kite {
  width: 276px;
  height: 271px;
  background: url('../../assets/briefing/kite.png');
  background-size: 100% 100%;
  margin-top: -4px;
  margin-left: 26px;
}
